@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown ul {
   list-style-type: disc;
   list-style-position: inside;
   margin-left: 1rem;
}

.markdown * {
   margin-bottom: 0.5rem;
}

* {
   scrollbar-width: auto;
   scrollbar-color: #e8eaed #121417;
}

*::-webkit-scrollbar {
   width: 11px;
}

*::-webkit-scrollbar-track {
   background: #121417;
}

*::-webkit-scrollbar-thumb {
   background-color: #e8eaed;
   border-radius: 10px;
   border: 3px solid #e8eaed;
}

.glass-effect {
   background: rgba(255, 255, 255, 0.25);
   /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
   backdrop-filter: blur(17px);
   -webkit-backdrop-filter: blur(17px);
}
