@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

.markdown ul {
	list-style-type: disc;
	list-style-position: inside;
}

.markdown p {
	margin-bottom: 1rem;
}
